aclocal.m4
config.guess
config.py
config.sub
configure
dbus/scp-dbus-service
install-printerdriver
system-config-printer
system-config-printer-applet
.stamp-distutils-in-builddir
.stamp-man-pages-built
Makefile
build/
config.guess.cdbs-orig
config.log
config.status
config.sub.cdbs-orig
cupshelpers/config.py
cupshelpers/debug.py
cupshelpers/smburi.py
debian/files
debian/python-cupshelpers.debhelper.log
debian/python-cupshelpers.postinst.debhelper
debian/python-cupshelpers.prerm.debhelper
debian/python-cupshelpers.substvars
debian/python-cupshelpers/
debian/stamp-autotools
debian/stamp-autotools-files
debian/stamp-copyright-check
debian/stamp-makefile-build
debian/stamp-makefile-install
debian/stamp-upstream-cruft
debian/system-config-printer-udev.debhelper.log
debian/system-config-printer-udev.substvars
debian/system-config-printer-udev/
debian/system-config-printer.debhelper.log
debian/system-config-printer.postinst.debhelper
debian/system-config-printer.postrm.debhelper
debian/system-config-printer.preinst.debhelper
debian/system-config-printer.prerm.debhelper
debian/system-config-printer.substvars
debian/system-config-printer/
debian/tmp/
man/system-config-printer-applet.1
man/system-config-printer.1
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/POTFILES
po/*.gmo
po/stamp-it
print-applet.desktop
system-config-printer.appdata.xml
system-config-printer.desktop
udev/.deps/
udev/.dirstamp
udev/configure-printer@.service
udev/udev-configure-printer
udev/udev_udev_configure_printer-udev-configure-printer.o
